<h1>Puptails</h1>
<hr>
  <div class="container cards-container">
      <%= link_to "Add a Puptail", new_cocktail_path, class: "btn btn-outline-secondary" %>
    <% @cocktails.each do |cocktail| %>
    <div class="card">
      <img src="https://images.unsplash.com/photo-1568688570940-831467d18af7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80" class="card-img-top" alt="...">
      <div class="card-body">
        <%= link_to cocktail.name, cocktail_path(cocktail), class: "btn btn-outline-secondary" %>
      </div>
    </div>

    <% end %>
  </div>
