<div class="container">
  <h1>Add a Puptail</h1>
  <%= simple_form_for(@cocktail) do |f| %>
  <%= f.input :name %>
  <%= f.submit "Finish! ðŸ‘ŒðŸ½", class: "btn btn-outline-secondary" %> <%= link_to "Nevermind, Go ðŸ”™ to All Puptails", cocktails_path %>
  <% end %>

</div>
