.container-top {
text-align: center;
justify-content: center;
// display: flex;
}

img {
  width: 350px;
  height: 300px;
}

.ingredients {
  margin-top: 30px;
  margin-bottom: 50px;
}

h3 {
  font-weight: 600;
  margin-bottom: 20px;
}

.photo {
  text-align: center;
  margin-top: 30px;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

div.add_ingredient {
  width: 300px;
  form {
    width: 300px;
  }
}

div.ingredients {
  // background-color: #343A40;
  padding: 10px;
  width: 350px;
  min-height: 300px;
}
